<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Clouds Stomatologia" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="wrapper"> 
      <!-- hedder section starts -->
        <header class="header">
          <div class="container">
            <div class="header-inner">
              <%= link_to root_path, class: "logo" do %>
                <%= image_tag 'logo.png', style:"width: 90px; height: auto", alt: 'Logo' %>
              <% end %>
              <nav class="nav">
                <ul class="nav__list">
                  <li class="nav__list-item">
                    <%= link_to "Home", "#", class: "nav__list-link" %>
                  </li>
                  <li class="nav__list-item">
                    <%= link_to "Ceny", "#", class: "nav__list-link" %>
                  </li>
                  <li class="nav__list-item">
                    <%= link_to "Kontakty", "#", class: "nav__list-link" %>
                  </li>
                  <li class="nav__list-item">
                    <%= link_to "O nas", "#", class: "nav__list-link" %>
                  </li>
                </ul>
                <span class="number__in-header">+48 517 070222</span>           
              </nav>
            </div>
          </div>
        </header>
      <!-- hedder section end -->
      <%= yield %>
    </div>  
  </body>
</html>
